/* version Galaxy Fild 280px */
@media (min-width: 280px) {
  .cards img {
    height: 13rem;
  }
}

/* version Surface Duo 540px */
@media (min-width: 540px) {
  .cards img {
    height: 18rem;
  }
  .container_footer {
    margin-left: 1rem;
  }
}
/* version iPad */
@media (min-width: 768px) {
  .cards {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin-left: 0;
  }

  .container_footer {
    margin-left: 0.5rem;
  }
}
/* version iPad pro*/
@media (min-width: 1024px) {
  .fonction-block {
    margin-left: 1.5rem;
  }
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .cards {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3rem;
    width: 97%;
  }
  .card_container {
    width: 29rem;
  }
  .container-title {
    margin-left: 2.2rem;
    font-size: 25px;
  }
  .cards img {
    height: 20rem;
  }

  .card_content h3 {
    font-size: 20px;
    padding-top: 0;
  }
  .subtitle {
    font-size: 20px;
  }
  .container_footer {
    margin-left: 1.5rem;
  }
}

/* version 1326px */
@media (min-width: 1326px) {
  img.La-note-enchante {
    height: 50rem;
    width: 100%;
    object-fit: cover;
  }
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
    margin-left: 0;
  }

  .cards {
    width: 90%;
    margin-left: 1.5rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards img {
    height: 30rem;
  }
  figure.card_container {
    width: 38rem;
    margin-left: 0;
  }
  /* page 1 */
  hr {
    margin: 0 25px;
  }
  .container_menu {
    width: 95%;
    margin-top: -10%;
  }
  .container-title {
    margin-left: 1.5rem;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .container_foods {
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 2rem;
    width: 20%;
  }
  /* footer */
  .container_footer {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: auto;
  }
}
