@media (min-width: 1024px) {
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
  }
  h2.container-title {
    margin-left: 2rem;
  }
  div.icon_heart {
    margin: 1.2rem 0 2rem 20rem;
  }
  div.icon_heart_3 {
    margin-left: 22rem;
  }
  div.cards {
    width: 90%;
    margin-left: 2rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  figure.card_container {
    width: 39rem;
  }
  /* page 1 */
  .container_menu {
    width: 95%;
    margin-top: -10%;
  }
  /* footer */
  .container_footer {
    margin-left: 1rem;
  }
}
