@media (min-width: 1280px) {
  .block-container {
    display: flex;
    flex-direction: wrap;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
  }
  .icon_heart,
  .icon_heart_3 {
    display: flex;
    justify-content: flex-start;
    margin: 1.2rem 0 2rem 23rem;
  }
  .cards {
    width: 90%;
    margin-left: 1rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card_container {
    width: 35rem;
    height: 15rem;
  }
}
