@media (min-width: 1024px) {
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
  }
  h2.container-title {
    margin-left: 2rem;
  }
  div.icon_heart {
    margin: 1.2rem 0 2rem 20rem;
  }
  div.icon_heart_3 {
    margin-left: 22rem;
  }
  div.cards {
    width: 90%;
    margin-left: 2rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  figure.card_container {
    width: 39rem;
  }
  /* page 1 */
  .container_menu {
    width: 95%;
    margin-top: -10%;
  }
  .apparition {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .container_foods {
    display: flex;
    flex-direction: row;
  }
  .item_plat {
    width: 65%;
  }
  .container_item_1 {
    z-index: 1;
    animation: item_plat 0s linear;
  }
  @keyframes item_plat_1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .container_item_2 {
    z-index: 1;
    animation: item_plat 4s linear;
  }
  @keyframes item_plat_2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .container_item_3 {
    z-index: 1;
    animation: item_plat 8s linear;
  }
  @keyframes item_plat_3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  input {
    margin: 2rem;
    width: 20%;
  }
  /* footer */
  .container_footer {
    margin-left: 1rem;
  }
}
