/* version PC */
@media (min-width: 1326px) {
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
  }
  .icon_heart {
    margin: 1.2rem 0 2rem 26rem;
  }
  .icon_heart_3 {
    margin-left: 28rem;
  }
  .cards {
    width: 90%;
    margin-left: 2rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards img {
    height: 22rem;
  }
  figure.card_container {
    width: 39rem;
  }
  /* page 1 */
  .container_menu {
    width: 95%;
    margin-top: -10%;
  }
  .container-title {
    margin-left: 2rem;
    font-size: 20px;
    padding-top: 40px;
  }
  .container_foods {
    display: flex;
    flex-direction: column;
  }
  .food-name {
    font-size: 20px;
  }
  .ingredients {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .prix {
    font-size: 20px;
    padding: 55px 15px 0 8px;
  }
  .price {
    padding: 0 4px 57px 0;
  }
  .fas.fa-check-circle {
    margin: -1rem 2rem;
  }
  input {
    margin: 2rem;
    width: 20%;
  }
  /* footer */
  .container_footer {
    margin-left: 1rem;
  }
}

/* version iPad */
@media (min-width: 1024px) {
  .cards {
    margin-left: 2.4rem;
  }
  .container-title {
    margin-left: 2.2rem;
    font-size: 25px;
  }
  .cards img {
    height: 30rem;
  }
  .icon_heart {
    margin-left: 27rem;
  }
  .icon_heart_3 {
    margin-left: 30rem;
  }
  .card_content h3 {
    font-size: 20px;
    padding-top: 0;
  }
  .subtitle {
    font-size: 20px;
  }
}
