/* version Galaxy Fild 280px */
@media (min-width: 280px) {
  .icon_heart {
    margin-left: 3rem;
  }
  .icon_heart_3 {
    margin-left: 5rem;
  }
  .cards img {
    height: 13rem;
  }
}

/* version iPhone 5 320px */
@media (min-width: 320px) {
  .icon_heart {
    margin-left: 5rem;
  }
  .icon_heart_3 {
    margin-left: 7rem;
  }
}
/* version Galaxy 360px */
@media (min-width: 360px) {
  .icon_heart {
    margin-left: 7rem;
  }
  .icon_heart_3 {
    margin-left: 9rem;
  }
}
/* version iPhone 6 375px */
@media (min-width: 375px) {
  .icon_heart {
    margin-left: 8rem;
  }
  .icon_heart_3 {
    margin-left: 10rem;
  }
}
/* version Pixel2 411px */
@media (min-width: 411px) {
  .icon_heart {
    margin-left: 10rem;
  }
  .icon_heart_3 {
    margin-left: 12rem;
  }
}
/* version iPhone 6plus 414px */
@media (min-width: 414px) {
  .icon_heart {
    margin-left: 10rem;
  }
  .icon_heart_3 {
    margin-left: 12rem;
  }
}
/* version Surface Duo 540px */
@media (min-width: 540px) {
  .icon_heart {
    margin-left: 17rem;
  }
  .icon_heart_3 {
    margin-left: 19rem;
  }
  .cards img {
    height: 18rem;
  }
  .container,
  .container_footer {
    margin-left: 1rem;
  }
}
/* version iPad */
@media (min-width: 768px) {
  .cards {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    width: 45.5rem;
    margin-left: 0;
  }
  .icon_heart {
    margin-left: 9rem;
  }
  .icon_heart_3 {
    margin-left: 11rem;
  }
  .container_footer {
    margin-left: 0.5rem;
  }
}
/* 966 */
@media (min-width: 966px) {
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container-title {
    margin-left: 2rem;
    font-size: 22px;
  }
  .card_container {
    width: 25rem;
    margin-left: 2rem;
  }
  .container_footer {
    margin-left: 2rem;
  }
}
/* version iPad pro*/
@media (min-width: 1024px) {
  .fonction-block {
    margin-left: 1.5rem;
  }
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .cards {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2rem;
    width: 25rem;
  }
  .card_container {
    width: 29rem;
  }
  .container-title {
    margin-left: 2.2rem;
    font-size: 25px;
  }
  .cards img {
    height: 20rem;
  }
  .icon_heart {
    margin-left: 14rem;
  }
  .icon_heart_3 {
    margin-left: 16rem;
  }
  .card_content h3 {
    font-size: 20px;
    padding-top: 0;
  }
  .subtitle {
    font-size: 20px;
  }
  .container_footer {
    margin-left: 1.5rem;
  }
}

/* version 1326px */
@media (min-width: 1326px) {
  img.La-note-enchante {
    height: 50rem;
    width: 100%;
    object-fit: cover;
  }
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
  }
  .icon_heart {
    margin: 1.2rem 0 2rem 23rem;
  }
  .icon_heart_3 {
    margin-left: 25.5rem;
  }
  .cards {
    width: 90%;
    margin-left: 1.5rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards img {
    height: 30rem;
  }
  figure.card_container {
    width: 39rem;
  }
  /* page 1 */
  hr {
    margin: 0 25px;
  }
  .container_menu {
    width: 95%;
    margin-top: -10%;
  }
  .container-title {
    margin-left: 1.5rem;
    font-size: 2rem;
    padding-top: 2rem;
  }
  .container_foods {
    display: flex;
    flex-direction: column;
  }
  .food-name {
    font-size: 20px;
  }
  .ingredients {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .prix {
    font-size: 20px;
    padding: 55px 15px 0 8px;
  }
  .price {
    padding: 0 4px 57px 0;
  }
  .fas.fa-check-circle {
    margin: -1rem 2rem;
  }
  input {
    margin: 2rem;
    width: 20%;
  }
  /* footer */
  .container_footer {
    margin-left: 1rem;
  }
  /* responsive 1920px */
  @media (min-width: 1920px) {
    html {
      width: 69%;
    }
    figure.card_container {
      width: 38rem;
      margin-left: 0;
    }
  }
}
