body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/* spinner */
.container_spinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinnertwo 4s linear;
  animation-fill-mode: forwards;
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: violet;
  border-radius: 50%;
  justify-content: center;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: violet;
}
@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinnertwo {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}
.header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 50%);
  top: 0;
  width: 100%;
}
/* header logo */
.herder-container {
  display: flex;
  justify-content: center;
  padding: 27px;
}

/* search form Paris-Belleville */
.search_form_icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.outils {
  background-color: #e5e5e5;
}
/* icon map */
.fas {
  font-size: 18px;
}
/* Reservation */
.reservation {
  background-color: #f2f2f2;
  text-align: center;
  padding: 35px 0;
}
h2 {
  text-align: center;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 0;
}
h3 {
  padding: 0 15px;
  text-decoration: none;
  font-weight: 400;
  font-family: Roboto;
}
h4 {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: grey;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* button explorer */
input {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  justify-content: center;
  background-color: #686868;
  background: linear-gradient(
    0deg,
    rgba(135, 50, 275, 0.9),
    rgba(235, 90, 210, 0.9)
  );
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}
input:hover {
  background: linear-gradient(
    0deg,
    rgba(147, 60, 210, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 75%);
}
/* Fonctionnement */
.block-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  text-align: center;
  width: 1px;
  height: 25px;
  margin-left: -15px;
}
.fonction-block i {
  margin-left: 12px;
  font-size: 18px;
  margin-top: 18px;
}
.container-block {
  margin: 25px;
  margin-left: 25px;
  background-color: #f6f6f6;
  display: flex;
  width: 88%;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 25%);
}
.container-block:hover {
  background: #ebe0ec;
  box-shadow: 10px 10px 10px 1px #d4d4d4;
}
.fonction-block h2 {
  text-align: left;
  padding: 15px;
  margin-top: 1rem;
}
i.fa-store {
  color: #9356dc;
}
/* section restaurants */
.cards img {
  height: 15rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
/* img la palette */
img.palette-du-gout {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: flex;
}
/* img la note enchantée */
img.La-note-enchante {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
/* img à la françcaise */
img.a-la-francaise {
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* img le délice */
img.le-delice {
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* palette title */
.menu_title {
  font-family: Shrikhand;
  text-align: left;
  font-size: 23px;
  margin-left: 6px;
}
/* start page menu */
/* previous flèche icon */
i.fas.fa-arrow-left {
  display: flex;
  font-size: 25px;
  position: absolute;
  left: 20px;
  justify-content: left;
  margin: 5px;
}
/* icon heart menu*/
.icon_heart_start:hover i.fa-heart {
  display: none;
}
.icon_heart_start:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_start {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -2rem;
}
.container-title {
  text-align: left;
  margin-left: 1.2rem;
  margin-bottom: 0;
  font-size: 18px;
  padding-top: 20px;
}
p {
  font-family: "Roboto";
  font-size: 15px;
}
hr {
  border: #99e2d0 solid 2px;
  width: 10px;
  margin: 0 20px;
  padding: 0 10px;
}

/* animation le menu */
.delay-0 {
  animation: fadein 1s linear;
  animation-delay: 0.1s;
}
.delay-1 {
  animation: fadein 1.2s linear;
  animation-delay: 0.2s;
}
.delay-2 {
  animation: fadein 1.3s linear;
  animation-delay: 0.3s;
}
.delay-3 {
  animation: fadein 1.4s linear;
  animation-delay: 0.4s;
}

@keyframes fadein {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*--fin animation menu-----*/

h3 {
  font-family: "Roboto";
  padding-top: 3px;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  margin: auto;
  padding: 0 20px;
  position: relative;
}
/* section menu palette */
.container_menu {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: -25px;
  background-color: #f6f6f6;
  border-radius: 15px 15px 0px 0px;
}
.menuItem {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 50%);
  overflow: hidden;
  cursor: pointer;
}
.menuItem__header,
.menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__header {
  flex: 1;
}
.menuItem__title {
  margin: 0;
  text-align: left;
  color: #000;
  font-weight: bold;
}
.menuItem__header,
.menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem__icon {
  color: #99e2d0;
}

/* button commande */
.commande {
  margin: 1rem;
  text-align: center;
}
.card_badge {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
}
.card_container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 1em 0;
  box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
  border-radius: 15px;
  transition: 0.3s;
}
.cards {
  width: 90%;
  position: relative;
  margin: auto;
}
.card_description {
  position: relative;
  background-color: #fff;
  padding-left: 1rem;
  height: 75px;
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 1rem;
}
.restaurants {
  background-color: #f2f2f2;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* animation icon_heart */
.icon_heart:hover i.fa-heart {
  display: none;
}
.icon_heart:hover i.fas.fa-heart {
  display: block;
}
.icon_heart {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  opacity: 1;
  font-size: 30px;
  right: 1.5rem;
  bottom: 1.5rem;
  cursor: pointer;
}

/* animation icon_heart 3 */
.icon_heart_3:hover i.fa-heart {
  display: none;
}
.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 9rem;
}

i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}
i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}
.card_content h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.subtitle {
  margin-left: 1rem;
}

/* footer */
.footer {
  width: 100%;
  background-color: #353535;
  padding-top: 1rem;
}
.footer_logo {
  font-family: Shrikhand;
  color: #fff;
  margin-left: 1.2rem;
}
i.fa-utensils,
i.fa-hands-helping {
  color: #fff;
}
i.fa-utensils {
  margin-right: 1rem;
}
i.fa-hands-helping {
  margin-right: 0.5rem;
}
.footer_link {
  color: #fff;
}
ul {
  list-style-type: none;
}
.list {
  margin-bottom: 0.5rem;
}
.footer_list {
  padding: 1rem;
}
