body {
	margin: 0;
}
.herder-container{
		display: flex;
		justify-content: center;
		padding: 27px;
	}
	.search_form_icon{
		display: flex;
		align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
	}
	.outils {
		background-color: #e5e5e5;
	}
	.fas {
		font-size: 18px;
	}
	.reservation {
		background-color: #f2f2f2;
		text-align: center;
		padding: 35px 0;
	}
	h2 {
		text-align: center;
		font-size: 27px;
		font-family: Roboto;
		font-weight: 700;
		margin: 0;
		padding: 10px 0 0;	
	}
	h3 {
		padding: 0 15px;
		font-weight: 400;
		font-family: Roboto;
	}
	h4 {
		text-align: center;
		font-size: 18px;
		font-weight: 100;
		color: grey;
	}
	input {
		border-radius: 30px;
		border: none;
		color: #fff;
		font-size: 18px;
		padding: 15px;
	   justify-content: center;
	   background: linear-gradient(to top, #9356DC, #FF79DA);
	}
	.block-number{
		display: flex;
		justify-content: center;
        border-radius: 50%;
        background-color: #9356dc;
        text-align: center;
        width: 1px;
        height: 25px;
        margin-left: -15px;
	}
	.fonction-block i {
		margin-left: 12px;
        font-size: 18px;
        margin-top: 20px;
	}
	.container-block {
		margin: 15px;
		margin-left: 25px;
		display: flex;
		width: 88%;
		border-radius: 15px;
		box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 50%);
	}
	.fonction-block h2{
		text-align: left;
		padding: 15px;
	}
	i.fa-store{
		color: #9356dc;
	}
	
	