body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/* header logo */
.herder-container {
  display: flex;
  justify-content: center;
  padding: 27px;
}

/* search form */
.search_form_icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.outils {
  background-color: #e5e5e5;
}
.fas {
  font-size: 18px;
}
/* Reservation */
.reservation {
  background-color: #f2f2f2;
  text-align: center;
  padding: 35px 0;
}
h2 {
  text-align: center;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 0;
}
h3 {
  padding: 0 15px;
  text-decoration: none;
  font-weight: 400;
  font-family: Roboto;
}
h4 {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 100;
  color: grey;
}
a {
  text-decoration: none;
  color: black;
}
/* button explorer */
input {
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  justify-content: center;
  background: linear-gradient(to top, #9356dc, #ff79da);
}

/* Fonctionnement */
.block-number {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
  text-align: center;
  width: 1px;
  height: 25px;
  margin-left: -15px;
}
.fonction-block i {
  margin-left: 12px;
  font-size: 18px;
  margin-top: 20px;
}
.container-block {
  margin: 15px;
  margin-left: 25px;
  display: flex;
  width: 88%;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 50%);
}
.fonction-block h2 {
  text-align: left;
  padding: 15px;
}
i.fa-store {
  color: #9356dc;
}
/* section restaurants */
.cards img {
  height: 10rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card_badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card_container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 1em 0;
  box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
  border-radius: 15px;
  transition: 0.3s;
}
.cards {
  width: 90%;
  margin-left: 1rem;
}
.card_description {
  background-color: #fff;
  border-radius: 15px;
}
.restaurants {
  background-color: #f2f2f2;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
h2.container-title {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}
i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
}
.card_content h3 {
  font-weight: bold;
}
.subtitle {
  margin-left: 1rem;
}
/* footer */
.footer {
  width: 100%;
  position: relative;
  background-color: #353535;
  padding-top: 2rem;
}
.footer_logo {
  font-family: Shrikhand;
  color: #fff;
  margin-left: 1rem;
}
i.fa-utensils,
i.fa-hands-helping {
  color: #fff;
}
i.fa-utensils {
  margin-right: 1rem;
}
i.fa-hands-helping {
  margin-right: 0.5rem;
}
.footer_link {
  color: #fff;
}
ul {
  list-style-type: none;
}
.list {
  margin-bottom: 0.5rem;
}
.footer_list {
  padding: 1rem;
  margin-bottom: 0;
}
