body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
/* spinner */
.container_spinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinnertwo 3s linear;
  animation-fill-mode: forwards;
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: violet;
  border-radius: 50%;
  justify-content: center;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: violet;
}
@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinnertwo {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}
/* item_plat appear */
.item_plat {
  z-index: 1;
  animation: item_plat 3s linear;
}
@keyframes item_plat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 50%);
  top: 0;
  width: 100%;
}
/* header logo */
.herder-container {
  display: flex;
  justify-content: center;
  padding: 27px;
}
/* previous icon */
i.fas.fa-arrow-left {
  display: flex;
  font-size: 25px;
  position: absolute;
  left: 20px;
  justify-content: left;
  margin: 5px;
}
/* search form */
.search_form_icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.outils {
  background-color: #e5e5e5;
}
.fas {
  font-size: 18px;
}
/* Reservation */
.reservation {
  background-color: #f2f2f2;
  text-align: center;
  padding: 35px 0;
}
h2 {
  text-align: center;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 700;
  margin: 0;
  padding: 10px 0 0;
}
h3 {
  padding: 0 15px;
  text-decoration: none;
  font-weight: 400;
  font-family: Roboto;
}
h4 {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: grey;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* button explorer */
input {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 15px;
  justify-content: center;
  background: linear-gradient(to top, #9356dc, #ff79da);
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

/* Fonctionnement */
.block-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
  text-align: center;
  width: 1px;
  height: 30px;
  margin-left: -15px;
}
.fonction-block i {
  margin-left: 12px;
  font-size: 18px;
  margin-top: 20px;
}
.container-block {
  margin: 25px;
  margin-left: 25px;
  background-color: #f6f6f6;
  display: flex;
  width: 88%;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 25%);
}
.fonction-block h2 {
  text-align: left;
  padding: 15px;
  margin-top: 1rem;
}
i.fa-store {
  color: #9356dc;
}
/* section restaurants */
.cards img {
  height: 10rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
/* img la palette */
img.palette-du-goût {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: flex;
}
/* img la note enchantée */
img.La-note-enchante {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
/* img à la françcaise */
img.à-la-française {
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* img le délice */
img.le-délice {
  height: auto;
  width: 100%;
  object-fit: cover;
}
/* palette title */
.menu_title {
  font-family: Shrikhand;
  text-align: left;
  font-size: 23px;
}
/* subtitle palette */
.title_enter {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
  padding-left: 0;
  margin-bottom: 0;
}
.plat_subtitle div {
  height: 3px;
  width: 15%;
  background-color: #99e2d0;
}
/* section menu palette */
.container_menu {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: -25px;
  background-color: #f6f6f6;
  border-radius: 15px 15px 0px 0px;
}
/* section plat container */
.item_plat {
  height: 80px;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 25%);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
/* pour apparition */
.apparition {
  width: 86%;
}
.item_plat:hover .apparition {
  width: 66%;
  transition: 400ms all;
}
.menu_name {
  margin: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
p {
  margin: 1px 65px 0 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #2b2525;
}
.item_price {
  display: flex;
  font-size: 18px;
  margin: 30px 10px 0 0;
  justify-content: flex-end;
  font-weight: 700;
}
/* icon check */
.item_check {
  height: auto;
  width: 10%;
  left: 100%;
  position: absolute;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition-duration: 0.5s;
  font-size: 18px;
  cursor: pointer;
  padding: 0px 5%;
  border-radius: 0px 15px 15px 0px;
}
.fas.fa-check-circle {
  color: #fff;
  margin: -1rem 1rem;
  width: 4rem;
  display: flex;
  transition-duration: 0.5s;
}
/* section plats et desserts */
.plat_title div,
.dessert_title div {
  height: 3px;
  width: 15%;
  background-color: #99e2d0;
}
.title_plats,
.title_dessert {
  padding: 0;
  margin-bottom: 5px;
}
/* button commande */
.commande {
  margin: 1rem;
  text-align: center;
}
.card_badge {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  padding: 0.5rem;
  border-radius: 0.125rem;
  top: 1rem;
  right: 0.75rem;
}
.card_container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 1em 0;
  box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
  border-radius: 15px;
  transition: 0.3s;
}
.cards {
  width: 90%;
  margin-left: 1rem;
}
.card_description {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  display: flex;
}
.restaurants {
  background-color: #f2f2f2;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h2.container-title {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.icon_heart:hover i.fa-heart {
  display: none;
}
.icon_heart:hover i.fas.fa-heart {
  display: block;
}
.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 3rem;
}
/* icon heart palette */
.icon_heart_palette:hover i.fa-heart {
  display: none;
}
.icon_heart_palette:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_palette {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: -2rem;
}
.icon_heart_3:hover i.fa-heart {
  display: none;
}
.icon_heart_3:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_3 {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 5.5rem;
}
i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}
i.fas.fa-heart {
  display: none;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}
.card_content h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.subtitle {
  margin-left: 1rem;
}

/* footer */
.footer {
  width: 100%;
  background-color: #353535;
  padding-top: 1rem;
}
.footer_logo {
  font-family: Shrikhand;
  color: #fff;
  margin-left: 1rem;
}
i.fa-utensils,
i.fa-hands-helping {
  color: #fff;
}
i.fa-utensils {
  margin-right: 1rem;
}
i.fa-hands-helping {
  margin-right: 0.5rem;
}
.footer_link {
  color: #fff;
}
ul {
  list-style-type: none;
}
.list {
  margin-bottom: 0.5rem;
}
.footer_list {
  padding: 1rem;
  margin: 0;
}
