body {
	margin: 0;
}
.herder-container{
		display: flex;
		justify-content: center;
		padding: 27px;
	}
	.search_form_icon{
		display: flex;
		align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
	}
	.outils {
		background-color: #e5e5e5;
	}
	.fas {
		font-size: 18px;
	}
	.reservation {
		background-color: #f2f2f2;
		text-align: center;
	}
	h2 {
		text-align: center;
		font-size: 25px;
		font-family: Roboto;
		font-weight: 700;	
	}
	h3 {
		padding: 0 10px;
	}
	h4 {
		text-align: center;
		font-size: 20px;
		font-weight: 100;
		color: grey;
	}
	input {
		border-radius: 30px;
		border: none;
		color: #fff;
		font-size: 25px;
		padding: 15px;
	   justify-content: center;
	   background: linear-gradient(to top, #9356DC, #FF79DA);
	}